@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #274C77
}
a{
    color: #FEFAE0;
    text-decoration: none;
}
#head{
    padding-bottom: 35px;
}
.signup_link{
    margin-top: 20px;
    text-align:center;
}
.dark_theme_image{
   float:right;
cursor:pointer;
}
.logo{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#acc{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #8B8C89;
}
#email{
    width: 700px;
    height: 90px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 90px;
    background-color: #8B8C89;
    font-size:24px;
    padding-left: 50px;
}
#password{
    width: 700px;
    height: 90px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 90px;
    background-color: #8B8C89;
    font-size:24px;
    padding-left: 50px;
}
#email::placeholder, #password::placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #FEFAE0;
}
#login{
    background-color: #A3CEF1;
    color: black;
    width:260px;
    height:80px;
    border: none;
    border-radius: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items:center;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    color: #E7ECEF;
    margin-bottom: 20px;
}
h2{
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 30px;
}
h3{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    color: #777;
    margin-bottom: 15px;
}
h4{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: #999;
    margin-bottom: 10px;
}
h5{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #bbb;
    margin-bottom: 5px;
}
p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}
buttonText{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #fff;
}


@media screen and (max-width: 1279px) and (min-width: 800px) {
    #email, #password {
        width: 500px;
        font-size: 20px;
    }
    #login {
        width: 200px;
        font-size: 1.2rem;
    }
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 799px) {
    #email, #password {
        width: 70%;
        height:60px;
        font-size: 18px;
    }
    #email::placeholder, #password::placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #8B8C89;
}
    #login {
        width: 60%;
        height:60px;
        font-size: 1.2rem;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 1.2rem;
    }
}
